<form action="https://formsubmit.co/crissttofer2021@gmail.com" method="POST">
     <P>Nombre:</P><input type="text" name="name"  required>
     <p>Email</p><input type="email" name="email" required>
     <button type="submit">Send</button>
</form>