<head>
    <div class="nav">
        <ul>
            <li>
                <a href="">Inicio</a>
            </li>
            <li>
                <a href="">Eventos</a>
            </li>
            <li>
                <a href="">Acerca De</a>
            </li>
        </ul>
    </div>
    <div class="name">
        <h1>ACADEMIC HUB</h1>
    </div>
    <div class="sesion">
        
    </div>
</head>