
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/head/head.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<body>
<header>
    <div class="nav">
        <ul>
            <li>
                <a href="">Inicio</a>
            </li>
            <li>
                <a href="">Eventos</a>
            </li>
            <li>
                <a href="">Acerca De</a>
            </li>
        </ul>
    </div>
    <div class="name">
        <h1>ACADEMIC HUB</h1>
    </div>
    <div class="sesion">
        <div class="on">
            <a href="login.hbs" class="boton">
                Iniciar Sesion
            </a>
        </div>
        <div class="off activate">
            <div class="todo">
              
                <span class="material-symbols-outlined headIcon campana">
                    notifications
                </span>
                <span class="material-symbols-outlined headIcon">
                    account_circle
                </span>
                <span class="headIcon">
                    Usuario
                </span>
                <span class="material-symbols-outlined headIcon">
                    keyboard_arrow_down
                </span>
            </div>
        </div>
    </div>
</header>
<main class="info"> 
    <div class="navCategorias">
        <h1 class="titelCategoria">CATEGORIAS</h1>
        <ul class="allCategoria">
            <li class="cardCategoria">Eventos Culturales</li>
            <li class="cardCategoria">Eventos Deportivos</li>
            <li class="cardCategoria">Eventos Academicos</li>
            <li class="cardCategoria">Eventos Sociales</li>
        </ul>

    </div>
    <div class="navCardInfo">
        
    </div>
</main>
</body>