<link rel="stylesheet" href="/css/home/cuerpo.css">
<link rel="stylesheet" href="/css/publicar/infocard.css">

<body>
{{> head log = estadoSesion}}
<main class="info"> 
    <div class="navCategorias">
        <h1 class="titelCategoria">CATEGORIAS</h1>
        <ul class="allCategoria">
            <li class="cardCategoria" data-categoria="cultural">Eventos Culturales</li>
            <li class="cardCategoria" data-categoria="deporte">Eventos Deportivos</li>
            <li class="cardCategoria" data-categoria="academico">Eventos Academicos</li>
            <li class="cardCategoria" data-categoria="social">Eventos Sociales</li>
        </ul>
    </div>
    <div class="navCardInfo">
    </div>
    <template id="templateCardEvent">
        <div class="cardInfo">
            <a href="" class="noDecoration">
                <img src="" alt="" class="imgCardInfo">
                <h1 class="TitleCardInfo"></h1>
                <p class="infoCardInfo">
                </p>
            </a>
        </div>
    </template>
</main>
    <script src="/js/ajax.js" type="module"></script>
</body>