<link rel="stylesheet" href="/css/login/login.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

<body>
    <div class="loginBody">
    <h1 class="loginTitulo">BIENVENIDOS</h1>
    <form action="/login" method="POST" class="loginCard">
        <div class="loginInfo">
            <input type="text" placeholder="Correo Electronico" name="email">
            <input type="password" placeholder="Contraseña" name="password">  
        </div>
        
        <div class="loginExtra">
         <label class="container">Recuerdame
            <input type="checkbox">
            <span class="checkmark"></span>
            </label>
            <a href="">Olvidaste Tu Contraseña?</a>
        </div>

        <input type="submit" value="Iniciar Sesión">

    </form>
    <div class="or">
        <div class="line">

        </div>
        <div class="notline">
            <p>o</p>
        </div>
        <div class="line">

        </div>
    </div>
    <div class="loginGoogle">
        <p>Iniciar sesion</p><img src="/img/login/google.png">
    </div>
    <div class="loginRegistor">
       <b> <a href="registro">Registrarse</a></b>
    </div>


</div>
</body>