<link rel="stylesheet" href="/css/registro/registro.css">
<body>
    <div class="registro">
       
        <form action="/registro" method="post">
             <h1>Crear cuenta</h1>
            <div class="cuenta">
                <p>Ya tienes cuenta? <a href="login">Iniciar sesion</a></p>
            </div>
            <div class="infoName">
                <div class="cardName">
                    <p>Nombre*</p>
                    <input type="text" name="nombre" id="" required>
                </div>
                <div class="cardName">
                    <p>Apellido*</p>
                    <input type="text" name="apellido" id="" required>
                </div>
            </div>

            <div class="otherInfo">
                <p>correo*</p>
                <input type="email" name="email" required>
                <p>Nombre de Usuario</p>
                <input type="text" name="alias" required>
                <div class="infoName">
                    <div class="cardName">
                    <p>Codigo Estudiante*</p>
                    <input type="text" name="codigoEstu" id="" required>
                    </div>
                    <div class="cardName">
                    <p>Numero de telefono*</p>
                    <input type="text" name="telefono" id="" required>
                    </div>
                </div>

                <p>Contraseña</p>
                <input type="text" name="password" required>
                <p>Repetir Contraseña</p>
                <input type="text" required>
            </div>
            <input type="submit" class="btn" value="Crear cuenta">

            <div class="separacion">
                <div class="line">

                </div>
                <p>o</p>
                <div class="line">

                </div>
            </div>
           
            
          
        </form>
            <button>
                 Registrarse con Google <img src="/img/login/google.png" alt="">
            </button>
    </div>
</body>