   <link rel="stylesheet" href="/css/publicar/add.css">
   <link rel="stylesheet" href="/css/publicar/infocard.css">
   <link rel="stylesheet" href="/css/home/cuerpo.css">
<body>
 {{> head log = estadoSesion}}
 
    <div class="getUser">
        <div class="capFoto">
            <img src="/img/prueba.jpg" alt="">
        </div>
        
        <div class="textNav">
            <div class="navegatio">
                <p data-categoriaUser="eventosPublicados"><b data-categoriaUser="eventosPublicados">Mis Eventos</b></p>
                <p data-categoriaUser="eventosSuscritos"><b data-categoriaUser="eventosSuscritos">Eventos Suscriptos</b></p>
            </div>
            <div class="publicar">
            <a href="/register">
                <button>
                    <b>Publicar Evento</b>
                </button>
            </a>
            </div>
        </div>
    </div>
    <div class="infoCard" id="infoCardUser">
    </div>
    <template id="TinfoCardUser">
        <div class="cardInfo">
            <a href="" class="noDecoration">
                <img src="" alt="" class="imgCardInfo">
                <h1 class="TitleCardInfo"></h1>
                <p class="infoCardInfo">
                </p>
            </a>
        </div>
    </template>
    <script src="/js/ajaxUsuario.js" type="module"></script>
</body>