<header>
    <div class="nav">
        <ul>
            <li>
                <a href="">Inicio</a>
            </li>
            <li>
                <a href="">Eventos</a>
            </li>
            <li>
                <a href="">Acerca De</a>
            </li>
        </ul>
    </div>
    <div class="name">
        <h1>ACADEMIC HUB</h1>
    </div>
    <div class="sesion">
        <div class="on">
            <a href="login.hbs" class="boton">
                Iniciar Sesion
            </a>
        </div>
        <div class="off activate">
            <div class="todo">
              
                <span class="material-symbols-outlined headIcon campana">
                    notifications
                </span>
                <span class="material-symbols-outlined headIcon">
                    account_circle
                </span>
                <span class="headIcon">
                    Usuario
                </span>
                <span class="material-symbols-outlined headIcon">
                    keyboard_arrow_down
                </span>
            </div>
        </div>
    </div>
</header>