<div class="on activate">
            <div class="todo">
              
                <span class="material-symbols-outlined headIcon campana">
                    notifications
                </span>
                <span class="material-symbols-outlined headIcon">
                    account_circle
                </span>
                <span class="headIcon">
                    Usuario
                </span>
                <span class="material-symbols-outlined headIcon">
                    keyboard_arrow_down
                </span>
            </div>
        </div>