<div class="on activate">
  <ul class="select_all">
    <li>
      <span class="material-symbols-outlined headIcon">account_circle</span>

      <span
        class="material-symbols-outlined headIcon"
      >keyboard_arrow_down</span>
    </li>
    <li>
      <ul class="flexible">
        <li>
          <a href="/usuario">Cuenta</a>
        </li>
        <li>
          <a id="logout">Cerrar Sesión</a>
          {{!-- <form href="/logout" method="post"><input type="submit" value="Cerrar Sesión"></from> --}}
        </li>
      </ul>
    </li>
  </ul>

</div>