<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css"
      
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    
    
    <title>{{title}}</title>
  </head>
  <template id="tem-tarjetas">
        <div class="item">
          <a href="">
            <div class="like">
             <i class="ri-heart-3-fill"></i>
            </div>
            <img src=""></img>
            <div class="details">
              <h3>Animal On Winter</h3>
              <div class="info">
                <div class="location">
                  <i class="ri-map-pin-line"></i>
                  <h5>Canada</h5>
                </div>
                {{!-- <div class="rate">
                  <i class="ri-star-fill"></i>
                  <h5>4.9</h5>
                </div> --}}
              </div>
            </div>
          </a>
        </div>
      </template>
  {{{body}}}
  <script src="/js/ajax.js" type="module"></script>
</html>
